{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2022",
    "baseUrl": "./src"
  },
  "module": {
    "type": "nodenext",
    "resolveFully": true,
    "strict": true
  },
  "sourceMaps": true
}
